.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.page {
  width: 100%;
  margin: 0 auto;
  padding: 2rem 1.25rem;
  flex: 1;
}

.page__footer {
  margin-top: 0.875rem;
  text-align: center;
}


@media (width <= 768px) {
  .page {
    padding: 1rem 0.75rem;
  }
}