.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.page {
  width: 100%;
  max-width: 72rem;
  margin: 0 auto;
  padding: 1.5rem 1.25rem 2rem;
  flex: 1;
}

.page_size_md {
  max-width: 600px;
}

.page_size_sm {
  max-width: 450px;
}


.page__footer {
  margin-top: 0.75rem;
}