.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form.form_disabled .form-field__input {
  border-bottom-color: var(--color-border);
}

.form:not(.form_disabled) .form-field__input {
  border-bottom-color: var(--color-link);
}

.form:not(.form_disabled) .form-field.form-field_invalid .form-field__input {
  border-bottom-color: var(--color-red);
}

.form__fields {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
}

.form__actions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
