.page-profile {
  max-width: 510px;
}

.page-profile__aside {
  position: fixed;
  display: flex;
  width: 64px;
  background-color: #FBFBFB;
  inset: 0;
}

.page-profile__content {
  padding-left: 64px;
}

.page-profile__back {
  width: 1.75rem;
  height: 1.75rem;
  margin: auto;
  padding: 0;
  background-color: transparent;
  background-image: url('../../public/img/button-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.profile__avatar-wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 1.25rem;
}

.profile__form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.profile__form .form-field {
  position: relative;
}

.profile__form .form-field__label {
  position: absolute;
  font-size: var(--font-size-xs);
  color: var(--color-text);
}

.profile__form .form-field__input {
  color: var(--color-text-muted);
  border-bottom: 1px solid var(--color-border);
  text-align: right;
}

.profile__form .form-field:last-child .form-field__input {
  border-bottom: none;
}

.profile__actions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.profile__actions-item {
  border-bottom: 1px solid var(--color-border);
}

.profile__action-button {
  padding-left: 0;
}

.profile__actions-item:last-child {
  border-bottom: none;
}