.title {
  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-medium);
  margin-bottom: 1.25rem;
}

.title_position_center {
  text-align: center;
}

.title_size_md {
  font-size: var(--font-size-md);
}