.page-error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-error__description {
  margin-bottom: var(--space-5xl);
  font-size: var(--font-size-xl);
}
